.project-details {

  //.project-title {
  //  padding-top: 30px;
  //}

  .project-description {
    padding: 30px 30px;
    text-align: justify;
    max-width: 700px;
    background: white;
    border-radius: 7px;
  }
}
