.project-details {
  max-width: 960px;
  margin: auto;

  .project-description {
    padding: 30px 0;
    text-align: justify;
    //max-width: 700px;
    border-radius: 7px;
  }

  .dropzone {
    min-height: 280px;
    padding: 2rem;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;

  }

  #customTag {
    margin-left: 8px;
  }
}
