<app-navbar></app-navbar>

<div class="container">
  <div class="project-details" *ngIf="projectDetails">
    <div class="project-description">
      <h2>{{ projectDetails.title | getTitle | titlecase }}</h2>
      <hr />
      <p>
        {{
          readMore
            ? projectDetails.description
            : (projectDetails.description | slice: 0:300)
        }}
        <a
          href="javascript:;"
          *ngIf="!readMore && projectDetails.description.length > 300"
          (click)="readMore = true"
          >more...</a
        >
      </p>
      <!-- <p>{{ projectDetails.description }}</p> -->
      <div class="tags-section mb-3 align-items-baseline d-flex">
        <div>
          <a
            [hidden]="projectDetails.tags < 1"
            appProjectTags
            *ngFor="let tag of projectDetails.tags"
            size="md"
            class="badge"
          >
            <span>{{ tag | titlecase }}</span>
            <a href="javascript:;" class="ms-2" (click)="deleteTag(tag)">
              <i class="far fa-times-circle text-danger"></i>
            </a>
          </a>
        </div>
        <div>
          <div
            class="d-inline-block"
            ngbDropdown
            placement="top"
            #tagChooser="ngbDropdown"
          >
            <button
              id="dropdownManual"
              (focus)="tagChooser.open()"
              ngbDropdownAnchor
              class="btn btn-secondary"
            >
              <i class="fas fa-plus"></i>
              Add Tags
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button
                *ngFor="let defaultTag of defaultTags"
                (click)="addNewTag(defaultTag)"
                ngbDropdownItem
              >
                {{ defaultTag | titlecase }}
              </button>
              <div class="d-flex">
                <input
                  type="text"
                  class="form-control"
                  id="customTag"
                  placeholder="Custom"
                  [(ngModel)]="customTag"
                  (keyup.enter)="addNewCustomTag(customTag); tagChooser.close()"
                />
                <button
                  (click)="addNewCustomTag(customTag); tagChooser.close()"
                  class="btn btn-sm"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="file-upload-section d-flex justify-content-between">
        <div class="files-section">

        </div>
        <div class="file-upload-button">
          <button class="btn btn-secondary">
            Upload GCode
            <i class="fas fa-upload"></i>
          </button>
        </div>
      </div>
      <hr />
      <ngx-gallery
        class="mt-3"
        *ngIf="projectDetails"
        [options]="galleryOptions"
        [images]="galleryImages"
      ></ngx-gallery>
    </div>
  </div>
</div>
