<nav class="px-3 navbar  navbar-light bg-success">
  <a class="navbar-brand" href="#">MyPrintQ</a>
  <a class="btn btn-primary" type="button" (click)="goToAddProjectsPage()">
          <i class="fa fa-plus"></i>
            Add Project</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="btn btn-primary" type="button" (click)="goToAddProjectsPage()">
          <i class="fa fa-plus"></i>
            Add Project</a>
    </div>
    <div ngbDropdown display="dynamic" placement="bottom-right">
      <button class="account-info-button"
              id="dropdownBasic1" ngbDropdownToggle>
        <div class="account-info" [style.background-image]="'url(' + userDetails.photoURL + ')'"></div>
      </button>
      <div ngbDropdownMenu>
        <div class="text-muted" ngbDropdownItem>{{userDetails.email}}</div>
        <a ngbDropdownItem (click)="auth.signOut()">Logout</a>
      </div>
    </div>
  </div>
</nav>
