.navbar {
  display: flex;
  justify-content: flex-end;
}

#navbarNavAltMarkup {
  justify-content: flex-end;
  margin-right: 10px;
}

.account-info {
  height: 32px;
  width: 32px;
  margin-left: 20px;
  align-items: center;
  background-color: #DFE1E6;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  border-radius: 100%;
  box-sizing: border-box;
}

.account-info-button {
      border-radius: 3px;
    border: 0;
    text-decoration: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    color: #FFFFFF;
    display: flex;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
    padding: 0;
    white-space: nowrap;
}
