:host {
  //height: 100vh;
  //background-color: #f0f0f0;
  display: flex;
  align-content: center;
  flex-direction: column;
  //padding: 50px;
}



.search-box-container {
  margin: 50px 50px;

  .search-box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .search-box-input {
      width: 60vw;
      border: 3px solid #00B4CC;
      border-right: none;
      padding: 5px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;

      :focus {
        color: #00B4CC;
      }
    }

    .search-box-button {
      width: 40px;
      border: 1px solid #00B4CC;
      background: #00B4CC;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.project-thumbnail {
  max-width: 100%;
  text-align: left;
}


.new-project {
  position: fixed;
  bottom: 70px;
  right: 50%;
  transform: translate(50%, 50%);
}



