<div
  [ngClass]="{ 'my-2': loading === true }"
  class="add-url-container container px-3"
>
  <!--  <iframe src="https://lottiefiles.com/iframe/63871-lottie-printer"></iframe>-->

  <label for="url">
    <h3>
      Import your project from
      <select class="source text-primary">
        <option value="thingiverse">Thingiverse</option>
        <option value="thangs">Thangs</option>
        <option value="myMiniFactory">MyMiniFactory</option>
      </select>
    </h3>
  </label>
  <form (ngSubmit)="getMetaData()" class="input-group my-3">
    <input
      type="url"
      placeholder="Paste link"
      [(ngModel)]="projectUrl"
      (submit)="getMetaData()"
      (keyup.enter)="getMetaData()"
      name="projectUrl"
      class="form-control"
      id="url"
      aria-describedby="url"
    />
    <button
      class="btn btn-outline-secondary"
      type="submit"
      placement="bottom"
      ngbTooltip="Only supports Thingiverse for now"
      (click)="getMetaData()"
      id="search"
    >
      <i class="fas fa-search"></i>
      Search
    </button>
  </form>

  <div class="project-details-container">
    <app-project-details
      [loading]="loading"
      [dataLoadedEvent]="metaDataLoadedEvent.asObservable()"
    >
    </app-project-details>
  </div>
</div>
