.add-url-container {
  max-width: 720px;
  margin: 27vh auto;

  .source {
    background: none;
    border: none;
    :focus :visited :focus-visible {
      border: none;
    }

    

    option {
      border: none;
      background: none;
    }
  }
} 

@media only screen and (max-width: 600px) {
  .add-url-container {
    max-width: 100%;
    //min-
  }




}
